body {background-color: sandybrown}

#Logo {float:left; padding:40px 0px 40px 0}
#Icon {float:right; padding:40px}
#Navigation {clear:both;
    border-top:Solid black 1px; padding: 10px;
    border-bottom:Solid black 1px; padding: 0px 0px 10px 0px;
padding:25px}

#Navigation a 
{
    font-family:Arial; color:black; 
    margin:0px 25px 0px 0px; 
}
   

#Navigation a:hover {color:orange; border:solid black 1px;}

#Title {color:orange; border-bottom:solid 1px black;}

#LeftContent img 
{
    margin: right 25px;
    border:solid 1px black;
    padding:5px 5px 5px 5px;
}

#RightContent h3 
{
    color: orange;
    margin: -20px 0px 0px 0px;
}

#RightContent h2
{
    margin: 5px 0px 0px 0px;
}

#LeftContent {float:left; width:700px}

#RightContent {float:right; width:200px}

#Footer {clear:both;
        border-top:solid black 1px;
        padding:0px 0px 5px 0px;
        text-align:center}

#Kotak {background-color:white;margin:0px auto 0px auto; width:900px}
#Kotak2 {background-color:white;margin:0px auto 0px auto; width:1000px}